<h2>Edit Your Comment Below</h2>
<div class="form">
  <%= form_for [@comment.user, @comment] do |f| %>
    <%= render partial: "layouts/errors", locals: {record: @comment} %>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <%= f.submit %><br>
  <% end %>
<p>If you would like to delete this comment, click <%= link_to("here", user_comment_path(@comment.user, @comment), method: :delete) %></p>
</div>