<h1><%= @store.name %></h1>
<div class="img">
  <img src="<%= @store.img %>" width="400" height="600">
</div>
<div class="list-no-bullets">
<ul>
  <li><%= @store.full_address %></li>
  <li>Phone: <%= @store.phone %></li>
  <li>Website: <%= link_to @store.name, @store.web %></li>
  <p>Hours:</p>
  <% @store.full_hours.each do |day| %>
  <li><%= day %></li>
  <% end %>
</ul>
</div>
<% if logged_in? %>
  <%= form_for [@store, @comment] do |f| %>
    <%= f.label :content %><br>
    <%= render partial: "layouts/errors", locals: {record: @comment} %>
    <%= f.text_area :content %><br>
    <%= f.submit %>
  <% end %>
<% end %>
<div class="comments">
<ul>
<% @store.comments.each do |comment| %>
  <li><%= comment.user.username %> Wrote:<br>
  <%= comment.content %></li>
<% end %>
</ul>
</div>
