<h1>Hello <%= @user.username %></h1>
<h3>Here is your current information:</h3>
<div class="list">
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
</ul>
<% if !!current_user.oauth %>
<p>Note: If Google was used as your initial signin, <strong>please create a new password</strong></p>
<% end %>
<p>Click <%= link_to "here", edit_user_path(@user)%> to edit your information.</p>
<p>You have made the following comments on the following stores:</p>
<ul>
  <% @user.comments.each do |comment| %>
    <li>On <%= link_to comment.store.name, comment.store %> You Wrote:<br>
    <strong><%= comment.content %></strong></li><br>
  <% end %>
</ul>
</div>